In [1]:
import json

In [4]:
a = json.read("seacret_2.json")
a

AttributeError: module 'json' has no attribute 'read'

In [9]:
with open("seacret_2.json") as f:
    a = json.load(f)

print(a["url"])

1GEMwjemjrWOLgM8zWW6IYxCHIMgExDNouFji-3mYf8Y

In [120]:
import streamlit as st
from datetime import date
import gspread
import os
import json

gc = gspread.service_account(
    filename="seacret.json")
with open("seacret_2.json") as f:
    url = json.load(f)
sh = gc.open_by_key(url["url"])

In [121]:
#本日の日付を取得
today = date.today()
y_date = int(today.strftime("%Y"))
m_date = int(today.strftime("%m"))

In [122]:
import pandas as pd
sh= sh.worksheet("集計表")
df = pd.DataFrame(sh.get_all_values())

In [180]:
def df_create(sh,today):
    df = pd.DataFrame(sh.get_all_values())
    df.columns = df.iloc[0]
    df = df[1:]
    df = df.loc[:,~df.columns.str.isdigit()]
    df["日付"] = pd.to_datetime(df["日付"],format="%Y年%m月%d日")
    df.set_index("日付",inplace=True)
    y_date = int(today.strftime("%Y"))
    m_date = int(today.strftime("%m"))
    d_date = int(today.strftime("%d"))
    df = df[df.index.year == y_date]
    df = df[df.index.month == m_date]
    df = df.apply(pd.to_numeric) #数値に変換する
    df = df.fillna(0)
    mama_money = int(df["ママ金額"].sum())
    a_money =  int(df["あーちゃん金額"].sum())
    papa_money = int(df["パパ金額"].sum())
    today_df = df[df.index.day == d_date]
    today_df = today_df.iloc[:,3:]
    plot_df = df.iloc[:,:3]
    return mama_money,a_money,papa_money,today_df,plot_df

In [181]:
mama,a,papa,today_df,df = df_create(sh,today)

In [186]:
df = df.fillna(0)
df

0            ママ金額  あーちゃん金額   パパ金額
日付
2025-01-05  561.0      0.0    0.0
2025-01-06    0.0      0.0  188.0

int

661